/* src/assets/styles/global.css */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body {
    --theme-color: #0078ff;
    font-family: 'Arial', sans-serif;
    background-color: #141217;
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-icon {
    width: 25px; 
    height: 25px; 
    margin-right: 10px; 
}

.sair input[type="button"] {
    background-color: transparent;
    color: white; 
    border: none; 
    cursor: pointer; 
}

.profile img {
    border-radius: 50%; 
    border: 2px solid white; 
    width: 50px; 
    height: auto; 
}

.card {
    display: flex;
    align-items: center;
    border: 1px solid white;
    background-color: rgba(0, 148, 255, 80%);
    padding: 103px;
    margin: 25px; 
    width: 1630px;
    height: 380px;
    margin-top: -40px;
    margin-left: 60px;
}

.card p {
    font-size: 18px;
    padding-left: 4px;
}

.utilizacao-image {
    width: 415px; 
    height: 450px;
}

.img_celular {
    border: 1px solid white;
    margin-top: 35px;
    margin-left: -280px;
    width: 800px;
    height: 380px;
}

.texto_card {
    flex: 1;
    padding-bottom: 100px;
}

.section-heading {
    padding-top: 20px;
}

.text-center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
}

.navbar {
    padding: 1rem 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navbar-light .navbar-brand {
    color: white;
    text-decoration: none;
}

.navbar-light .navbar-brand:hover {
    color: white;
}

.form-control {
    display: block;
    width: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    text-align: center;
    max-width: 1630px;
    max-height: 1630px;
    margin-top: 20px; 
}

.container section {
    flex: 200px;
    margin: 15px; 
    max-width: 200px; 
}

.container img {
    max-width: 100%; 
    height: auto;
    margin-bottom: 10px; 
}

.container h1 {
    font-size: 18px; 
    margin: 10px 0; 
}

.container p {
    font-size: 14px; 
    margin: 5px 0; 
}

section {
    flex: 1;
    margin-right: 20px;
}

section:last-child {
    margin-right: 0;
    margin-bottom: 50px;
}

.botao-principal {
    display: inline-block;
    text-decoration: none;
    padding: 20px 400px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 50px;
    background: rgba(0, 148, 255, 80%);
}

.botoes-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.botao {
    padding: 20px 40px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 360px;
    background: rgba(0, 148, 255, 50%);
    width: 200px;
    height: 70px;
}

.problemas {
    text-align: center;
}

.btp {
    text-align: center;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    font-size: 32px;
    line-height: 40px;
    color: #fff;
}

h2 {
    font-size: 26px;
    line-height: 34px;
}

h3 {
    font-size: 24px;
    line-height: 32px;
}

h4 {
    font-size: 14px;
    line-height: 22px;
}

h5 {
    font-size: 12px;
    line-height: 20px;
}

.menu-links.left {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #141217;
    padding-top: 32px;
}

.navbar {
    padding: 32px 16px;
}

.header-inner {
    width: 100%;
}

.navbar-light .navbar-brand {
    font-size: 26px;
    line-height: 36px;
    font-weight: 500;
    color: white;
}

.navbar-light .navbar-brand:hover {
    color: white;
}

.header-content {
    width: 100%;
}

.header-content form {
    width: 85%;
}

.header-content form input[type="search"]::-webkit-input-placeholder {
    color: white;
}

.header-content form input[type="search"] {
    color: white;
    height: 42px;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
}

.search-icon {
    position: relative;
    width: 85%;
}

.dark-theme .header-content form input[type="search"] {
    background: #272933;
}

.header-content .profile {
    margin: 0px 20px 0px 150px;
    color: white;
}

.menu-links ul {
    list-style: none;
    margin-bottom: 0px;
}

.menu-links ul li {
    margin-bottom: 42px;
}

.menu-links ul li a {
    text-decoration: none;
    color: white;
    transition: all 0.5s;
}

.menu-links ul li:not(.active) a:hover {
    color: var(--theme-color);
}

.menu-links ul li a i {
    width: 32px;
    height: 32px;
    line-height: 20px;
    margin-right: 12px;
}

.footer {
    background-color: #141217;
    padding: 20px;
    text-align: center;
}