.vehiclesContainer {
    margin: 20px;
    padding: 20px;
    background-color: #1a1725;
    border-radius: 8px;
    max-width: 1200px;
    margin: 0 auto;
    color: #fff;
  }
  
  .vehiclesContainer h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .vehicleCard {
    background-color: #272933;
    padding: 15px;
    border-radius: 6px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
  }
  
  .vehicleCard h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .vehicleInfo {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .vehicleInfo p {
    margin: 4px 0;
  }
  
  .cardActions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .btnAjuda{
    padding: 8px 12px;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: rgb(107, 107, 0);
  }
  .btnEditar{    
    padding: 8px 12px;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #005bb5;
  }

  
  .btnExcluir {
    padding: 8px 12px;
    background-color: #ff0000;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btnAjuda:hover,
  .btnEditar:hover,
  .btnExcluir:hover {
    background-color: #ffffff;
  }
  
  @media (min-width: 768px) {
    .vehicleCard {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  
    .vehicleInfo {
      flex: 1;
      margin-left: 20px;
    }
  
    .cardActions {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  